.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid rgb(233, 232, 232);
}
a {
  text-decoration: none;
  color: inherit;
}
.chat__details {
  margin-left: 10px;
  flex: 1;
}
.chat__details > p {
  color: gray;
}
.chat__image {
  margin-left: 20px;
}
.chat__timestamp {
  color: lightgrey;
}
